<!DOCTYPE html>
<html>
<head>
  <title>TranslatableMenus</title>
  <%= stylesheet_link_tag    "translatable_menus/application", media: "all" %>
  <%= javascript_include_tag "translatable_menus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
